@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap");
* {
  margin: 0px;
  padding: 0 px;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: black; }

nav .logo {
  width: 50px;
  height: 50px;
  margin: 0px 0px 0px 10px; }

nav .nav__search {
  display: inline-block;
  margin-left: 20px; }

nav .nav__input {
  border-radius: 5px; }

.main .mainbttn__position {
  display: flex;
  align-items: flex-end;
  justify-content: end; }

.main .mainbttn--hover:hover {
  transform: scale(1.1); }

.main .main__blog-title {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.footer {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer .footer__about-text {
    display: flex; }
  .footer .footer--textsize {
    font-size: small; }

.logo {
  width: 50px;
  height: 50px;
  margin: 0px 0px 0px 10px; }

.img_size {
  width: 100%; }

.video_size {
  width: 100%; }

.contacto__parrafo1 {
  color: green; }

.contacto__parrafo2 {
  color: purple; }

.contacto__parrafo3 {
  color: violet; }

.contacto__parrafo-mixin {
  color: pink; }
