@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
@import "_variables";
@import "_base";
@import "_header";
@import "_index";
@import "_footer";


.logo {
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 10px;
    
}

// General CSS for main image and video
.img_size{
    width: 100%;
}

.video_size{
    width: 100%;
}


// USO DE MAPA $colors en variables en página contacto
.contacto__parrafo1{
    color: map-get($colors, primario)
}
.contacto__parrafo2{
    color: map-get($colors, secundario)
}
.contacto__parrafo3{
    color: map-get($colors, titulos)
}

.contacto__parrafo-mixin{
    @include colores__textos()
}